/* Custom styles */
.reveal section img {
    box-shadow: none;
    border: 0;
    background: transparent;
}

.main-title img {
    width: 30%;
}

.main-title h1 {
    text-transform: capitalize;
    font-size: 73px;
}

.second-slide p {
    text-align: center;
}


